* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  height: 100vh;
  width: 100vw;
}

.subtext {
  font-size: 1.8em;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 2;
}

.title {
  font-size: 5em;
  font-family: cursive;
  font-weight: normal;
}

.subtitle {
  font-size: 3em;
  font-family: cursive;
  font-weight: normal;
  color: white;
}

.car-slide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  align-items: center;
  background-color: white;
}

.car-slide p {
  font-size: 1.6em;
  width: 80%;
  line-height: 1.5;
  margin-bottom: 1%;
}

.car-slide h4 {
  font-size: 1.8em;
  font-weight: normal;
  margin-bottom: 4%;
}

.car-panel {
  margin: 2% 0 0 0;
  width: 60%;
  background-color: whitesmoke;
}

#car-slide-1 {
  background-color: whitesmoke;
}

#car-slide-2 {
  background-color: whitesmoke;
}

#car-slide-3 {
  background-color: whitesmoke;
}
#car-slide-4 {
  background-color: whitesmoke;
}
#car-slide-5 {
  background-color: whitesmoke;
}

.bottom-img {
  padding: 5% 0 5% 0;
}

.name-input {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 0;
  width: 0;
  z-index: -1;
}

@media (max-width: 500px) {
  .title {
    margin-top: 10%;
    font-size: 4.5em;
  }
  .subtext {
    font-size: 1.5em;
    line-height: 1.5;
    margin-bottom: 5%;
  }

  .car-panel {
    width: 95%;
    margin: 5% 0 5% 0;
  }

  .car-slide p {
    font-size: 1.2em;
  }

  .car-slide h4 {
    font-size: 1.4em;
  }

  .subtitle {
    margin-top: 5%;
  }

  .bottom-img {
    padding: 20% 0 20% 0;
  }
}
