.socials .fa {
  font-size: 1.5em;
  text-align: center;
  padding: 5% 10% 5% 10%;
  border-radius: 50%;
  background: -webkit-linear-gradient(45deg, #00b5f5, #002a8f);
  margin-bottom: 0.7em;
}

.socials .fa:hover {
  transform: scale(1.5);
  -ms-transform: scale(1.5);
  -webkit-transform: scale(1.5);
  color: white;
  background: transparent;
  transition: all 165ms ease-in;
  cursor: pointer;
}

.socials .fa:hover:before {
  transform: scale(0);
  transition: all 165ms ease-in;
}

.socials div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.socials .tbd {
  font-size: 0.9em;
  font-weight: 900;
}
