.home {
  height: 85vh;
  width: 100%;
  display: flex;
  justify-content: center;
}

.home .text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 75%;
  text-align: center;
  color: white;
}

.home .bg1 {
  object-position: top left;
  height: 85vh;
  width: 100%;
  z-index: -5;
  position: absolute;
  object-fit: cover;
}

.home .sidebar {
  width: 25%;
  height: 85vh;
  background-color: rgba(133, 222, 254, 0.658);
  opacity: 0.5;
}

.home .text h2 {
  font-size: 5em;
  font-family: cursive;
  font-weight: normal;
}

.home .text p {
  font-size: 1.8em;
  font-family: Arial, Helvetica, sans-serif;
  width: 45%;
  line-height: 2;
}

.home .text button {
  font-size: 1.3em;
  width: 25%;
  height: 2.9em;
  margin-top: 2%;
  font-family: Arial, Helvetica, sans-serif;
  box-shadow: 2px 3px 2px rgba(0, 0, 0, 0.438);
  border: 0.5px solid;
  background-color: rgb(247, 245, 222);
}
